#contactinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contactbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #b3b2f1;
    padding: 100px;
    margin: 30px;
}
