.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: rgb(92, 114, 221);
  color: white;
  border-radius: 30px;
}

span{
  color: black;
}