p{
    font-size: 60px;
    text-align: center;
    color: red;
    font-weight: bold;
}

#errorpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}