#maindiv{
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: row;  
    align-items: center;  
    justify-content: center;
    gap: 1%;
}

#maindiv p{
    text-align: justify;
    border: #38a806 2px solid;
    padding: 2.5%;
    background-color: #afc9f9;
    height: 350px;
}

