#maindiv{
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: row;  
    align-items: center;  
    justify-content: center;
    gap: 1%;
}

section{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;
}

#maindiv p{
    text-align: justify;
    border: #010167 2px solid;
    border-radius: 50px;
    padding: 2.5%;
    background-color: #afc9f9;
    font-style: italic;
}

